# particle_count = 8192
particle_count = 16384

threshold_count = 3
threshold0 = 201
threshold1 = 2001
threshold2 = 60001

# threshold_count = 5
# threshold0 = 101
# threshold1 = 501
# threshold2 = 2501
# threshold3 = 12001
# threshold4 = 60001

reset_count = 2000


# width = 1080
# height = 720
width = 2160
height = 1440
# width = 4320
# height = 2880

# Banner
# width = 5734
# height = 558
# scale = 0.112
# center_x = -0.377
# center_y = 0.902
# theta = -0.236
# maximum_size = 279

# scale = 0.124
# center_x = 0.670
# center_y = 0.707
# theta = 0.467

# scale = 0.00282
# center_x = 0.66722
# center_y = 0.63991
# theta = 0.067

maximum_size = 320
frame_steps = 1
profile = false

verbose = true

alpha = 0.8
